<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THT - INDEX</title>
    <link rel="stylesheet" href="../src/css/output.css">
</head>
<body class="bg-[url('/src/images/bgGif.gif')] h-screen bg-cover bg-fixed ">
    
    <div class="h-screen w-screen bg-gradient-to-r from-[#141414]/90 to-transparent">
        <div class="h-screen flex flex-col items-center justify-center" id="detail">

            <img src="../src/images/turan.jfif" alt="image" id="image" class="h-48 border-4 rounded-full border-[#151515] shadow-2xl shadow-[#202020]">
            <div class="w-1/2 flex items-center my-1 font-semibold  flex-col text-center">
                <p class="text-base font-mono text-[#c9cecd] uppercase">The site has been hacked by <span class="font-roboto bg-rose-900 text-white/80 tracking-wider border px-2 py-1 rounded-md border-rose-800">TURKHACKTEAM</span></p>
                
                <p class="text-sm font-mono text-white/80 border-rose-600 font-extrabold my-1 border-l-2 border-r-2 px-2 rounded-md">Bu site Turkhackteam tarafından erişime engellenerek Hacklenmiştir. Sesimizi duyduğunuz heryeri size dar edeğiz. İt'e it gibi, çakala çakal gibi...</p>
                <div>
                    <hr class="w-48 h-[0.5px] mx-auto my-2 bg-rose-900 border-0 ">
                    <span class="text-yellow-500 font-sans uppercase font-extrabold">Greetz : </span> <span class="text-white/90 font-serif uppercase">Veteran 7 - Ghost Killer - Gitaristan</span>
                    <hr class="w-48 h-[0.5px] mx-auto my-2 bg-rose-900 border-0 rounded">

                </div>
            </div>
           
            
        </div>
    </div>


    <script src="../src/javascript/app.js"></script>
</body>
</html>